<div class="card text-dark bg-warning mb-3" style="max-width:28%; margin:auto; margin-top:1%;">
  <div class="card-header">500 Server Error</div>
  <div class="card-body">
    <h5 class="card-title">Oops, something went wrong.</h5>
    <p class="card-text">Try to refresh this page or feel free to contact us if the problem persists.</p>
  </div>
</div>

<%= image_tag('page-not-found-img.webp',alt: "404-error-img",class:"img-fluid rounded mx-auto d-block") %>