
<div class="card text-white bg-secondary mb-3" style="max-width:28%; margin:auto; margin-top:1%;">
  <div class="card-header">The page you were looking for doesn't exist</div>
  <div class="card-body">
    <h5 class="card-title">You may have mistyped the address or the page may have moved.</h5>
    <p class="card-text">if you are the application owner check the logs for more information.</p>
  </div>
</div>

<%= image_tag('page-not-found-img.webp',alt: "404-error-img",class:"img-fluid rounded mx-auto d-block") %>
