<h1>Shows#new</h1>
<p>Find me in app/views/shows/new.html.erb</p>
  <div class="form-group">
      <label for="exampleFormControlSelect1">Select movie</label>
        <form action="/create" method="post" >
            <select class="form-control" name="allot_movie_id"  id="exampleFormControlSelect1">
              <%Movie.all.each do|allot|%>
                <option><%=allot.movie_name%></option>
              <%end%>
            </select><br>
            <select class="form-control" name="allot_theater_id" id="exampleFormControlSelect1">
              <%Theater.all.each do|screen|%>
                <option><%=screen.theater_name%></option>
              <%end%>
            </select><br>
              <input name="authenticity_token" type="hidden" value=" <%= form_authenticity_token %>">
              <input type="submit" value="Add Task" class="btn btn-light" title="Add Todo" >
        </form>
  </div>
    
  <div class="form-check">
    <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
      <%ShowTiming.all.each do|time|%>
          <label class="form-check-label" for="flexRadioDefault1">
              <%=time.show_timing%>
          </label>
      <%end%>
  </div>
